queries/*
!queries/arduino/
!queries/bash/
!queries/c/
!queries/cpp/
!queries/css/
!queries/go/
!queries/html/
!queries/javascript/
!queries/json/
!queries/lua/
!queries/markdown/
!queries/markdown_inline/
!queries/objc/
!queries/prisma/
!queries/python/
!queries/query/
!queries/tsx/
!queries/typescript/
!queries/vim/
!queries/vimdoc/
!queries/yaml/
